<h1>Listing hotels</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>

  <% @hotels.each do |hotel| %>
    <tr>
      <td><%= hotel.name %></td>
      <td><%= hotel.description %></td>
      <td><%= link_to 'Show', hotel_path(hotel) %></td>
      <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
      <td><%= link_to 'Destroy', hotel_path(hotel),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
